<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>SmartGxP™</title>
    <style>
body {font-family: Arial;}

.copyright {
    float: left;
}

.social { 
    float: right;
}

$link-color: red;

</style>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

This brochure describes enterprise services available by contacting Sales or Technical support at the specified contact under each tab.
<p></p><p></p>

<div class="w3-container">
  
  <div class="w3-bar w3-black">
    <button class="w3-bar-item w3-button tablink w3-red" onclick="openTab1(event,'exdm')">External Data Management</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab1(event,'validation')">Validation Services</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab1(event,'regulatory')">eCTD Guidance</button>
	
	<button class="w3-bar-item w3-button tablink" onclick="openTab1(event,'clinical')">Clinical Studies</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab1(event,'modernization')">Modernization</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab1(event,'diagnostics')">&nbsp;&nbsp;&nbsp;Diagnostics</button>	
  </div>
  
  <div id="exdm" class="w3-container w3-border city">
     <h3>External Data Management</h3>
     <p></p><p></p><p></p><p></p>

	   <OL>
		<LI>Enterprise Master Data Management Services
		<UL>
			<LI>System, Process, Compound Data
			<LI>Data Provenance Capture
		</UL>
		<LI>Vendor Onboarding Services
			<UL>
			<LI>21 CFR Part 11 <span style="color:#950000">Early Adopters<a href="https://docs.google.com/forms/d/e/1FAIpQLSd5F9V52Bp7jJ0rTh9gJ9gJQEpmy_bn7tSqlfRKb6pW7qnv2g/viewform" target="_blank"> Box Sign Survey</a></span>
			<LI>Clinical Research Onganization Onboarding
	        	<LI>Contract Management Development Organization Onboarding
		</LI> 
		</UL>
		</OL>

     <p></p><p></p><p></p><p></p>	  
     <u><b>Sales</b></u>: sales@smartgxp.digital<br>
     <u><b>Technical</b></u>: boxadmin@smartgxp.digital	
	  <p></p><p></p><p></p><p></p>
  </div>

  <div id="validation" class="w3-container w3-border city" style="display:none">
    <h3>Data Validation Services</h3>
    <p>Data Validation Services</p> 
    <p></p><p></p><p></p><p></p>
    <u><b>Sales</b></u>: sales@smartgxp.digital<br>
    <u><b>Technical</b></u>: admin@smartgxp.digital
	  <p></p><p></p><p></p><p></p>
  </div>

  <div id="regulatory" class="w3-container w3-border city" style="display:none">
     <h3>Compliance</h3>
     <p>Regulatory Compliance</p>
     <p></p><p></p><p></p><p></p>
     <u><b>Sales</b></u>: sales@smartgxp.digital<br>
     <u><b>Technical</b></u>: admin@smartgxp.digital	
	  <p></p><p></p><p></p><p></p>
  </div>
  
  
  <div id="clinical" class="w3-container w3-border city" style="display:none">
    <h3>Clinical Data Sciences</h3>
    <p>ADSL Preparation</p>
    <p></p><p></p><p></p><p></p>
    <u><b>Sales</b></u>: sales@smartgxp.digital<br>
    <u><b>Technical</b></u>: admin@smartgxp.digital
	  <p></p><p></p><p></p><p></p>
  </div>

  <div id="modernization" class="w3-container w3-border city" style="display:none">
     <h3>Cloud Services</h3>
     <p>Virtual Private Cloud + Enterprise Cloud Containerization</p>
     <p></p><p></p><p></p><p></p>
     <u><b>Sales</b></u>: sales@smartgxp.digital<br>
     <u><b>Technical</b></u>: admin@smartgxp.digital
	  <p></p><p></p><p></p><p></p>
  </div>
  
  <div id="diagnostics" class="w3-container w3-border city" style="display:none">
     <h3>Software Diagnostic Services</h3>
     <p>Enterprise Software Deployments</p>
     <p></p><p></p><p></p><p></p>
     <u><b>Sales</b></u>: sales@smartgxp.digital<br>
     <u><b>Technical</b></u>: admin@smartgxp.digital 
	  <p></p><p></p><p></p><p></p>
  </div>  
</div>

<script>
function openTab1(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-red";
}
</script>

      
      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        <span class="copyright">Automation | Formal Methods | Regulatory Compliance | Total Quality</span><span class="social">To the Glory of <a href="./SmartGxP2023.pdf", target="_blank">Science</a>!</span> 
      </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
